.containerDetails{
    background-color: #8bd874;
    border-radius: 1px;
    width: 21.5vw;
    height: 26.2vw;
    display: inline-block;
    transition: 1s;
}
.cardDetails {
    background-color: #A2FF86;
    border-radius: 3px;
    padding: 13px;
    width: 20vw;
    height: 25vw;
    margin-left: -10px;
    margin-top: -10px;
    /* transform: rotate(2deg); */
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.containerDetails:hover{
    transform: scale(1.1);
}
.cardDetailsImage{
    /* background-color: hwb(120 21% 8% / 0.548); */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    
}

.detailsImage{
    /* background-color: hwb(120 8% 90% / 0.548); */
    /* border-radius: 50%; */
    height: 10vw;
}

.namePokemonDetails {
    font-weight: 800;
    text-align: center;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ysabeau Office', sans-serif;
    color: #21292c
};
.pokeDetails{
    color: #21292c
}

.goBackDetails{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.characteristicsDetails {
    /* font-weight: 800; */
    /* text-align: center; */
    font-weight: 800;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ysabeau Office', sans-serif;
}