.backgroundHome{
    display: flex;
    flex-wrap: wrap;
    border-radius: 13px;
    padding: 10px;
    min-height: 80vh;
}

.inputSearch{
    width: 30vw;
    height: 2vw;
    border-radius: 10px;
    border-width: 0px;
}

.formHome{
    display: flex;
    justify-content: center;
}
